* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: cursive;
}

body {
    background: #f857a6;
    /* background: linear-gradient(to right, #f857a6, #ff5858); */
}

.mainBody {
    width: 100%;
    height: 100%;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    cursor: pointer;
    width: 340px;
    height: 480px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    background: linear-gradient(to right, #f857a6, #ff5858);
    position: absolute;
    transition: transform 0.6s linear;
    /* box-shadow: 4px 0px 12px rgb(12, 1, 1) inset; */
}

.front img {
    width: 100%;
    height: 90%;
}

.front {
    background: url(https://github.com/Gayatri19670/My_e-card.github.io/blob/main/Img/img1.jpeg?raw=true);
    background-size: 100% 100%;
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 4px 0px 12px rgb(75, 71, 71) inset;
    border-radius: 10px;
}

.back {
    background: linear-gradient(to right, #ff5858, #f857a6);
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 4px 0px 12px #f857a6 inset;
    border-radius: 10px;
}
      
h2 {
  
    font-size: 35px;
    font-weight: 600;
    margin-left: -3px;
    background: -webkit-linear-gradient(rgb(9, 206, 2), rgb(5, 5, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span {
    color: rgb(19, 23, 241);
    font-size: 20px;
}

p {
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

.back-content {
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.sm a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
    border-radius: 50%;
}

.sm a:hover {
    background: #2c3e50;
    color: white;
}

.card:hover>.front {
    transform: perspective(600px) rotatey(-180deg);
}

.card:hover>.back {
    transform: perspective(600px) rotatey(0deg);
}
