* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: cursive;
}

body {
    background: rgb(202, 109, 109);
}

.mainBody {
    width: 100%;
    height: 100%;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    cursor: pointer;
    width: 340px;
    height: 480px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    /* box-shadow: 4px 0px 12px rgb(12, 1, 1) inset; */
}

.front img {
    width: 100%;
    height: 90%;
}

.front {
    background: url(/My_e-card/Img/img1.jpeg);
    background-size: 100% 100%;
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 4px 0px 12px rgb(10, 0, 0) inset;
    border-radius: 15px;
}

.back {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 4px 0px 12px rgb(10, 0, 0) inset;
    border-radius: 15px;
}

h1 {
    top: 10%;
}

.back-content {
    text-align: center;
    width: 100%;
    margin-top: 170px;
}

.sm a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
}

.sm a:hover {
    background: #2c3e50;
    color: white;
}

.card:hover>.front {
    transform: perspective(600px) rotatey(-180deg);
}

.card:hover>.back {
    transform: perspective(600px) rotatey(0deg);
}
